<%- include("partials/header.ejs") %>
    <h1>
        <%= title %>
    </h1>

    <div class="todolist">

        <% if(locals.items){ %>
            <% items.forEach((item)=>{ %>
                <form class="delete-form" action="/delete" method="POST">
                    <div class="todobox">
                        <input class="checkbox" name="checkbox" value="<%=item._id%>" type="checkbox"
                            onchange="this.form.submit()">
                        <p>
                            <%= item.context %>
                        </p>
                        <input type="hidden" name="listName" value="<%= title %>">
                    </div>
                </form>
                <% })} %>

                    <form class="addForm" action="/add" method="POST">
                        <input class="addText" type="text" name="input" placeholder="New Plan">
                        <button class="addBtn" type="submit" name="listName" value="<%= title %>">+</button>
                    </form>
    </div>
    <%- include("partials/footer.ejs") %>


        <!--<form class="todobox" action="/delete" method="POST">
        <input name="checkbox" type="checkbox" onChange="this.form.submit()">
        <p>
            <%#= item.context %> 
        </p>
        <input class="delete" name="delete" type="submit" value="delete" data-id="<%#=item._id %>">
    </form>-->